{%- set lang = lang | default('en-US') -%}
{%- set title = title | default('DevTalk') -%}
{%- set debug = debug | default(false) -%}

<!DOCTYPE html>
<html class="no-js" lang="{{ lang }}">
    <head>
        {% block meta %}
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
            <meta name="author" content="Spryker Systems GmbH" />
            <meta name="title" content="{{ title }}" />
        {% endblock %}

        {% block styles %}
            <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700,700i">
            <link rel="stylesheet" href="{{ media('css/app.css') }}" />
        {% endblock %}

        <link rel="manifest" href="{{ media('manifest.json') }}">

        <title>{{ title }}</title>
    </head>

    <body class="t-base js-base-template">
        {% include 'header' | O with {
            'data': {
                'title': title,
                'description': 'A Spryker-PWA shop example',
                'togglerClass': 'js-base-template__toggler'
            }
        } only %}

        {% include 'sidebar' | O with {
            'class': 'js-base-template__sidebar'
        } only %}

        {% include 'content' | O only %}

        {% include 'footer' | O with {
            'data': {
                'copyright': 'Developed with &hearts; by Spryker Frontend Department'
            }
        } only %}

        {% include 'overlay' | A with {
            'class': 'js-base-template__overlay js-base-template__toggler'
        } only %}

        {% block javascript %}
            <script src="{{ media('js/manifest.js') }}"></script>
            <script src="{{ media('js/vendor.js') }}"></script>
            <script src="{{ media('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
